<meta charset="UTF-8"/>
<link rel="stylesheet" href="src/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="src/css/vue-datetime.min.css" type="text/css">
<script type="text/javascript" src="src/js/jquery.min.js" onload="window.$ = window.jQuery = module.exports;"></script>
<div id="app"></div>
<script src="build/build.js"></script>
