<template>
    <div class="container-fluid margins">
        <div class="row search-row">
            <div class="col-6">
                <label>Url</label>
                <input type="text" class="form-control" v-model="target_url"/>
            </div>
            <div class="col-6">
                <label>Number of windows</label>
                <input type="text" class="form-control" v-model="threads"/>
            </div>
            <div class="col-2">
                <input type="button" class="btn btn-primary full-width" value="Parse proxies" v-on:click="search"/>
            </div>
            <div class="col-2">
                <input type="button" class="btn btn-primary full-width" value="Load from file" v-on:click="loadFromFile"/>
            </div>
            <div class="col-2" v-if="ips.length">
                <input type="button" class="btn btn-primary full-width" value="Open url" v-on:click="sendRequests"/>
            </div>
        </div>
        <div class="col-12" v-if="size && processed < size">
            <b-progress :value="processed" :max="size" show-progress animated />
        </div>
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">IP:Port</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item of ips">
                    <th scope="row">{{ item }}</th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>
<script>
    //include the quote component
    const electron = window.require('electron')
    const helper = require('../js/helper')
    const ipcRenderer = electron.ipcRenderer
    const BrowserWindow = electron.remote.BrowserWindow
    //export the needed properties
    module.exports = {
        //the data model (props)
        data() {
            return {
                ips:[],
                error: "",
                statusReport: "",
                target_url: "",
                size: 0,
                processed: 0,
                threads: 4
            };
        },
        watch: {

        },
        //declare the included components, used in html
        components: {

        },

        mounted: function () {
            this.$nextTick(function () {
                ipcRenderer.on('ips-updated', (event, arg) => {
                    this.ips = arg
                })
                ipcRenderer.on('loaded-proxies', (event, arg) => {
                    for(let key in arg){
                        if(arg[key].length > 10){
                            this.ips.push(arg[key])
                        }
                    }
                })
                ipcRenderer.on('proxy-used', (event, arg) => {
                    let index = this.ips.indexOf(arg)
                    this.processed++
                    if(index !== -1){
                        this.ips.splice(index,1)
                    }
                })
            })
        },
        methods: {
            //init method, initialize props
            init() {
                this.ips = [];
                this.error = "";
                this.size = 0;
            },
            search(){
                this.parseHideMyName()
                this.parseSslProxies()
                this.parseSpysProxies()
            },
            parseHideMyName(){
                let start = 0
                let hideMyNameUrl = 'https://hidemyna.me/en/proxy-list/?type=s&start='
                let win = new BrowserWindow({width:1000, height:800});
                win.webContents.session.setProxy({proxyRules:'direct://'}, function () {
                    win.loadURL(`${hideMyNameUrl}${start}`)
                });

                let self = this;
                win.webContents.on('did-finish-load', function () {
                    win.webContents.executeJavaScript(`let trs = document.querySelectorAll('.proxy__t>tbody>tr');
        let ips = [];
        trs.forEach((value)=>{
            let tds = value.querySelectorAll('td')
            if(tds.length > 1) {
                ips.push(tds[0].innerText + ':' + tds[1].innerText)
            }
        });ips;`, true).then(async function (result) {
                        for(let key in result) {
                            self.ips.push(result[key])
                        }
                        if(result.length > 0) {
                            start += 64
                            win.loadURL(`${hideMyNameUrl}${start}`)
                        }
                        else{
                            if(self.ips.length){
                                win.close()
                            } else
                            {
                                await helper.getTimeout(10000, ()=>{})
                                win.loadURL(`${hideMyNameUrl}${start}`)
                            }
                        }
                    })
                });

            },
            parseSslProxies(){
                let url = 'https://www.sslproxies.org/'
                let win = new BrowserWindow({width:1000, height:800});
                win.webContents.session.setProxy({proxyRules:'direct://'}, function () {
                    win.loadURL(`${url}`)
                });

                let self = this;
                win.webContents.on('did-finish-load', function () {
                    win.webContents.executeJavaScript(`let trs = document.querySelectorAll('#proxylisttable>tbody>tr');
        let ips = [];
        trs.forEach((value)=>{
            let tds = value.querySelectorAll('td')
            if(tds.length > 1) {
                ips.push(tds[0].innerText + ':' + tds[1].innerText)
            }
        });ips;`, true).then( function (result) {
                        for(let key in result) {
                            self.ips.push(result[key])
                        }
                        win.close()
                    })
                });
            },
            parseSpysProxies(){
                let url = 'http://spys.one/en/https-ssl-proxy/'
                let win = new BrowserWindow({width:1000, height:800});
                win.webContents.session.setProxy({proxyRules:'direct://'}, function () {
                    win.loadURL(`${url}`, {
                        postData: [{
                            type: 'rawData',
                            bytes: Buffer.from("xpp=5&xf1=0&xf4=0&xf5=0")
                        }],
                        extraHeaders: 'Content-Type: application/x-www-form-urlencoded'
                    })
                });

                let self = this;
                win.webContents.on('did-finish-load', function () {
                    win.webContents.executeJavaScript(`let trs = document.querySelectorAll('table>tbody>tr>td>table>tbody>tr');
        let ips = [];
        trs.forEach((value)=>{
            let tds = value.querySelectorAll('td')
            if(tds.length > 1) {
                let regex = /\\d+\\s/g;
                ips.push(tds[0].innerText.replace(regex, ''))
            }
        });ips;`, true).then( function (result) {
                        for(let i = 2; i < result.length;i++){
                            self.ips.push(result[i])
                        }
                        win.close()
                    })
                });
            },

            sendRequests(){
                if(this.ips.length) {
                    this.size = this.ips.length
                    this.processed = 0
                    ipcRenderer.send('load-url-with-proxy',{proxies:this.ips, url:this.target_url, threads: this.threads})
                }
            },
            //method to handle errors
            handleErrors(err) {
                if (err.status === 404) {
                    this.error = "The specified symbol could not be found...";
                } else {
                    this.error = "There was an error retrieving the data...";
                }
            },
            loadFromFile(){
                ipcRenderer.send('open-file')
            }
        }
    };
</script>
<style>
    .margins {
        padding: 40px 30px;
    }

    .full-width {
        width: 100%;
    }
    .search-row{
        margin-bottom: 10px;
    }
    .search-row .btn-primary{
        margin: 10px 0 0;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style>